.spell-icon-container {
  border-radius: 21px;
  height: 72px;
  width: 72px;
}

.spell-selected {
  border: 5px solid darkred;
}

.spell-icon {
  border: #373737 solid 1px;
  border-radius: 15px;
  height: 70px;
  width: auto;
  cursor: pointer;
}
