<div class="selection-scene">
  <md-grid-list style="flex: 1 0 500px; display: block;" cols="{{nbOfClass}}" rowHeight="500px">
    <md-grid-tile
      *ngFor="let clazz of availableClass | objNgFor"
      (click)="selectClass(clazz)">
      <img class="character-selection-artwork" src="../../../../assets/img/character/artwork/{{clazz.name}}.png"/>
    </md-grid-tile>
  </md-grid-list>
  <div class="state-bar">
    <md-grid-list style="width: 60%" cols="5" rowHeight="150px">
      <md-grid-tile *ngFor="let character of currentSelectingPlayer.team">
        <img class="character-selection-avatar" src="../../../../assets/img/character/avatar/{{character.clazz.name}}.png"/>
      </md-grid-tile>
    </md-grid-list>
    <button md-raised-button
            class="character-selection-button"
            color="warn"
            (click)="reset()">
      Reset</button>
    <button md-raised-button
            class="character-selection-button"
            color="primary"
            (click)="ready()">
      Ready</button>
  </div>
</div>
