/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.no-margin {
  margin: 0 0 0 0 !important;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
