.character-avatar {
  border: #373737 solid 1px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}


.stat-list {
  width: 100%;
}

.stat-bar {
  height: 10px;
}

.stat-label {
  margin-left: 5px;
  font-size: 14px;
}

.character-list {
  height: 100% !important;
  flex: 1 1 auto;
}

.character-list /deep/ figure {
  justify-content: flex-start !important;  /*horizontal alignment*/
}

.character-card {
  height: 100px;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: row;
  flex: 0 0 40px;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  cursor: pointer;
  border: #373737 solid 1px;
  border-radius: 20px;
}

.character-charges {
  font-weight: bold;
  font-size: 25px;
  margin-right: 14px;
}

/deep/ .mat-tooltip {
  font-size: 12px !important;
}

.effect-icon {
  border-radius: 20%;
  width: 30px;
  height: 30px;
}

.effect-list {
}

.effect-cooldown {
  background-color: black;
  color: white;
  border-radius: 15%;
  font-size: 9px;
  height: 11px;
  width: 11px;
  text-align: center;
  position: absolute;
  left: 19px;
  top: 19px;
}

.character-name {
  font-size: 20px !important;
}

.character-class {
  font-size: 17px !important;
}
