.character-avatar {
  border: #373737 solid 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


.stat-list {
  width: 100%;
}

.stat-bar {
  height: 10px;
}

.stat-label {
  margin-left: 5px;
}

.character-list {
  height: 100% !important;
  flex: 1 1 auto;
}

.character-list /deep/ figure {
  justify-content: flex-start !important;  /*horizontal alignment*/
}

.character-card {
  height: 75px;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: row;
  flex: 0 0 40px;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  cursor: pointer;
}
